[2015-02-06 18:07] untergeek opened #2 "multiline (or another) should support header/footer delimited messages"
Migrated from: https://logstash.jira.com/browse/LOGSTASH-190

[2015-02-06 23:03] suyograo opened #3 "Multiline Codec Dropping Last Line in XML Files"
From JIRA https://logstash.jira.com/browse/LOGSTASH-2124

Seems like a similar issue was fixed in multiline codec by @colinsurprenant

I am trying to ingest many xml files. I am using the file input with the multiline codec to group all lines of the xml file into one log entry and then filter using the xml filter. The filter fails to parse the xml. This is due to the fact that the very last line o

[2015-02-07 01:00] suyograo opened #4 "unbounded buffer can cause OutOfMemoryError"
there is no check on the number of lines buffered or on the total buffer size so the codec can end up in endlessly buffering until reaching and out of memory exception.

also mentioned in https://logstash.jira.com/browse/LOGSTASH-2133

[2015-02-07 08:29] driskell commented on #3
Just a thought. Do your files end in a newline?

I saw something before where the XML files did not end in a newline and so Logstash Forwarder, Log Courier and Logstash all ignored it - they would see it as "unfinished write" and wait for the newline to appear.

[2015-03-19 00:18] doubret commented on #3
There is a problem with charset handling.
I have had the problem when using NxLog, lines end with \r\n and the codec splits lines using only \n.

I modified the code to use BufferedTokenzer as in the line codec (https://github.com/elastic/logstash/blob/master/lib/logstash/util/buftok.rb).

I'll send the code tomorrow.

[2015-03-19 06:46] driskell commented on #3
@doubret are you sure that is related here? It would just result in events with dangling \r and I don't see how that would affect OP's problem? Maybe needs a separate issue?

[2015-03-19 07:08] doubret commented on #3
The \r is probably stripped somewhere in the pipeline, i need to check.
In the codec the event doesnt exist yet, it's just raw buffers.

[2015-04-13 09:52] colinsurprenant commented on #4
rewrote @suyograo description & first comment.

[2015-04-13 16:07] allenmchan commented on #4
Will the fix for this get into 1.5?

[2015-04-13 16:20] suyograo commented on #4
@allenmchan we are evaluating fixes for this. we will update here once we know more.

[2015-04-17 16:37] #4 closed, assigned to ph

[2015-04-17 16:38] ph commented on #4
fix in the latest version of the plugin. 0.1.7

[2015-06-05 18:13] dkoshkin commented on #4
Is there an option to increase the number of lines per message allowed, or a way to combine messages if they are multiline_codec_max_lines_reached? I work with long SOAP responses and sometimes the respones are longer than can be displayed. Thanks

[2015-06-05 18:15] ph commented on #4
You can use `max_lines` it default to 500, there also a `max_bytes` options, first one reached will break the message.

[2015-06-12 23:12] technosf opened #9 "Multilines over boundry bypass input processing, codecs"
Logstash 1.5, ES 1.6, Windows

I have Multiline as a codec joining logs that may have XML. Some of the log entries grow to over 500 lines because of line breaks in the XML.

I am finding that Mulitline codec splits these lines so that the 501st line and on are treated as a new Multiline match - even though the 501st line does not match the Multiline pattern and should continue to be part of the pr

[2015-06-12 23:20] ph commented on #9
Hello,  you can set the 'max_lines' option of the plugin to something higher,  the default is 500. We uses that limit and the 'max_bytes' options as circuit breaker to make sure logstash don't go oom , the first option reached will flush the event. You can play with the limits to make sure you don't miss events.

[2015-06-12 23:29] technosf commented on #9
Ah... Thank you.

Must have been looking at the Multiline filter doc.

[2015-06-12 23:35] technosf commented on #9
Ah...

Sorry to close and reopen - I think the behavior at the max_lines is buggy. Spliting the mulitiline at, say 500, then the new line should go through the pipeline anew from the input section.

Currently, its split and appears to be processed from the filters section on, ignoring input codecs etc.

[2015-06-12 23:50] ph commented on #9
I am not sure I understand what you mean here, the current behavior is force a flush if one of the two conditions match and tag the event with "multiline_codec_max_bytes_reached" or  "multiline_codec_max_lines_reached" and it will run until we can create a new "multiline" event.

Can you give me more details on this part?

[2015-06-12 23:51] ph commented on #9
No problem in reopening your issue lets make sure we go through the problem and fix it :)

[2015-06-16 16:55] technosf commented on #9
At this point, it's not an issue per se, but I have two observations.

1) Having a filter and a codec with the same name - Google may take you to the wrong place, causing confusion.

2) The codec works as defined in the doc, but I think the doc can better expound how it works.
Specifically, the behavior once max_lines has been reach, or if the line break patter has been found, should be called out

[2015-07-24 05:55] abordia commented on #4
![captureleaksuspect1](https://cloud.githubusercontent.com/assets/11634420/8868463/98086874-318d-11e5-89e0-d6ea64929c16.JPG)

Hi,
I am getting OOM on logstash process.  Attached is MAT snapshot.  How can i conclude if this is related to multiline filter?  I am using various filters like multiline, kv, grok, mutate.  Any other insight in fixing this leak will be helpful.  Thank you

[2015-08-24 20:43] andrewvc opened #10 "Stream identity support to properly handle multiple sources"
For the case where the input comes in pre-tagged (like Lumberjack) the stream identity option from the multiline would be useful here.

Affected input issues:
- [x] [File input](https://github.com/logstash-plugins/logstash-input-file/issues/44)
- [x] [Lumberjack input](https://github.com/logstash-plugins/logstash-input-lumberjack/issues/63)
- [x] [Beats input](https://github.com/logstash-plugins/l

[2015-08-24 20:58] colinsurprenant commented on #10
I think there are a few issues at stake here. Two classic problems are with the lumberjack and file inputs.
- in the file input case, the stream identity would need to include the file path and currently the file path is set in the event **after** the codec decoding, see https://github.com/logstash-plugins/logstash-input-file/blob/57d3d9306ddf067a5281db1eac594409a86526e2/lib/logstash/inputs/file.r

[2015-08-25 16:38] colinsurprenant commented on #10
also relates to:
logstash-plugins/logstash-input-file#44
logstash-plugins/logstash-input-lumberjack#5

[2015-08-25 16:48] andrewvc commented on #10
@colinsurprenant ++ your codec per stream identity idea

[2015-08-25 17:09] ph commented on #10
This shouldn't be too hard to implement in the lumberjack since we already clone the codec per connection, its just a matter to define the stream_identity and use that instead.

[2015-08-26 18:06] colinsurprenant commented on #10
Right. I think this is what it basically boils down to: having the necessary properties exposed to the codec, for a given input context, to establish a stream identity. this is maybe an api change we should introduce at the codec level? thoughts?

[2015-08-26 18:10] andrewvc commented on #10
@colinsurprenant to clarify, you're saying we should just implement stream_identity as the filter does?

[2015-08-26 18:15] colinsurprenant commented on #10
@andrewvc well, we can't because the codec does not have the event context since the event is not yet decoded, the stream identity must be established/provided before entering the codec no? for example, the file input can provide the path information.

[2015-08-26 18:39] andrewvc commented on #10
@colinsurprenant ah, are you saying we should decorate it before its encoded? Instead of passing the codec the raw line maybe we could pass it a LogStash::Event with 'message' set and the correct tag?

Or are you talking about parameterizing it some other way.

[2015-08-26 20:19] colinsurprenant commented on #10
@andrewvc I don't think this would work, think about non-line oriented inputs like tcp/udp where we do a `sysread(16384)` for example, the message field will not be the sysread result, the codec first need to perform its decode logic before assigning the message field.

I think we should parametrize the codecs with maybe a stream_id field or something around these lines?

[2015-08-26 20:27] andrewvc commented on #10
@colinsurprenant works for me, plus it'll be transparent to the user which is nice.

[2015-09-02 22:16] jordansissel commented on #10
I don't thik we need an API change for this. The multiline filter uses a Hash of `string_identity` => `pending_events`. For the codec, we can achieve the same with a Hash of `stream_identity` => `codec_instance`.

For lumberjack, we can use the 'file' field that lsf/lumberjack provides for the identity. The input can be responsible for this mapping of stream to codec.

As a way of gathering state,

[2015-09-03 00:53] ph commented on #10
**oups** I should have seen this when doing work on this plugin :(

Yes for using the "file" field from the LSF.

I don't think the logic of the `stream_identity` belong in the codec, I think our codecs should stay simple and take input A and produce B, we can create a simple class that wrap the codec and do the routing.

[code]

[2015-09-04 13:38] ph commented on #10
Another syntax.

[code]

[2015-09-17 04:05] allenmchan commented on #10
Is there a release that this improvement is targeted for implementation? For example, are you guys going to try to get it into 2.0?

[2015-09-21 17:01] suyograo opened #11 "Multiline codec needs a max_age option"
From @mvintila : https://github.com/elastic/logstash/issues/3936

---

Currently, by using the multiline codec on input, you never get the last message from the logs.

The codec will wait forever for the next line to come in order to check it against the pattern. This is OK if the source is very active, but for sources that produce 1 message every hour or so the multiline codec is simply not usabl

[2015-09-21 17:03] suyograo opened #12 "Multiline filter add_tag adds tag all the time, even when pattern is not matched"
From: https://github.com/elastic/logstash/issues/3935

---

Example config:

[code]

This results in tagging EVERY message of the type == "scala" with the "multiline" tag.

The expected behavior is to tag only messages that are composed of multiple lines and are matched against the pattern.

[2015-10-20 19:27] colinsurprenant commented on #10
Let me recap:
- specific input plugins have specific _domain_ knowledge of their `stream_identity`, like the _path_ information of the file input plugin identifies different streams.
- if we agree that the `stream_identity` demultiplexing does not belong in the codec then separate codec instances must be created per stream.
- stream demultiplexing should be generic and usable by any plugin+codec c

[2015-10-20 19:39] ph commented on #10
Correct

Correct too, we could proxy the call to multiples codec instances.

But let me add this:

Codecs _know_ if they care about stream identity or not, What I mean by that is
_multiline_ requires `stream_identity` to correctly does his job, json codec doesn't, so we need some kind of `@codec.require_stream_identity?` at the codec level.

[2015-10-20 19:48] colinsurprenant commented on #10
didn't we just say that codecs don't have to know about `stream_identity` if we handle demultiplexing outside the codecs and simply instantiate multiple codecs? In this case codecs don't have to care about stream identity, they can just assume they only deal with a single consistent stream.

If we do that, we only need to refactor the way we instantiate codecs for the input plugins and have a way

[2015-10-20 19:55] ph commented on #10
So what you are suggesting if even if the codec could operate without the need for stream identity (like the json codec) we would always create one if the `input` can be affected by it. This will provide some kind of "safety". I think this is fair enough. +1

[2015-10-20 20:17] andrewvc commented on #10
@colinsurprenant to make sure I understand, we're just adding a default argument to the codec instantiation, and are backing it with a default config setting on the the base codec class yes?

[2015-10-21 17:28] jordansissel commented on #10
+1 on keeping the "stream awareness" outside of the codec and within the input plugin itself. The TCP input does this today, iirc, and we can do the same for lumberjack and file inputs.

[2015-10-21 18:56] colinsurprenant commented on #10
Here's my idea, similarly to what @ph suggested, and I think we could even keep backward compatibility on plugins:
- replace the codec instantiation in the config to instead instantiate a new "codec multiplexer" class, which will ultimately expose a "backward compatible" decode method like `decode(data, stream_identity = nil)`
- this new multiplexer `decode` method would take care of doing the boo

[2015-10-21 19:00] ph commented on #10
+1, this would make it backward compatible.

[2015-10-21 20:01] colinsurprenant commented on #10
moving discussion into elastic/logstash#4074

[2015-11-16 20:26] Ken-Richard opened #14 "Newline Characters Inserted"
Newline Characters are being added to the output when using the multi-line input codec.

Steps to recreate: https://gist.github.com/Ken-Richard/2cef7035181269a68873

The gist creates a simple log stash config and then pushes the same line through. The gist checks for grokparsefailure and then prints the near by output. You can see the extra \n characters inserted into the middle of the string.

Re

[2015-11-17 19:01] ph commented on #11
This problem somewhat related to this https://github.com/logstash-plugins/logstash-input-beats/issues/23

[2015-11-17 19:20] guyboertje commented on #11
This is a known issue (to me anyway) that is capable of being solved with the IdentityMapCodec wrapping the multiline codec.

So far we have done this on the file input and the beats input.

In the case of the file input, the codec buffer containing the last lines captured, will be flushed after one hour of inactivity.  One hour is the default but it can be changed from the input code.

@mvintila

[2015-11-18 06:31] suyograo commented on #10
Fixed in 2.1

[2015-11-18 06:31] #10 closed, assigned to guyboertje

[2015-11-18 17:13] guyboertje commented on #11
This feature cannot be implemented, as asked for, without a significant refactor of the pipeline <-> input <-> codec APIs.  This is because the design does not allow for async out-of-band event propagation downstream.  There is no code path codec -> input -> pipeline.

[2015-11-18 18:08] ppf2 opened #15 "Configurable flush interval"
In https://github.com/logstash-plugins/logstash-codec-multiline/pull/13, we added the evict_timeout for flushing to flush the last data collected if there is no need new data appended to a file.  However, this is hardcoded to 1 hr right now.  We have requirements in the field for near real-time.  Can we expose this as a configuration (and maybe cap the minimum flush interval to something sensible)

[2015-11-19 07:29] guyboertje commented on #15
Maybe a duplicate or related to #11.

This is kind of doable.

Please note the following:
- The Multiline codec when used in an input is incapable of flushing out-of-band events into the pipeline because of design problems with the pipeline <-> input interaction.
- Eviction stuff was added to the IdentityMapCodec object.
- The IdentityMapCodec is not a real codec, it does not subclass `LogStash::C

[2015-11-19 14:34] ph commented on #15
There is another problem related to the `flush`, the current implementation the identity map memorize the block on the first decode block and use the same one when the tick is called.

This should work normally in the majority of the plugins but in the context of beats this could be problematic, since the queue can raise an exception and kill the eviction thread.

Maybe we should add a way to defi

[2015-11-19 14:44] ph commented on #15
I am wondering maybe we can change how the eviction work, I see it as two problems.

A) **Multiline:** Should I flush the content of my buffer based on a max_ages?

B) **IdentityMap:** Should I remove unused codecs from my hash?

If we define the _unused codec_ concept from **B** by _if the codec doesn't have any buffered data_ we can say its not in use and we can free it. This make the codec resp

[2015-11-19 14:56] guyboertje commented on #15
@ph - re: pushing events to the queue raising exceptions, do you suspect this or is the raised exception by design?

Either way I need to protect my Cleaner thread.

[2015-11-19 15:03] ph commented on #15
@guyboertje its by design and it only affect the beats/lumberjack code.

Let me give you a bit of background:

The problem is in the way the lumberjack protocol works and how the clients are designed, if the server doesn't send an ack to the client, the client will think something went wrong and try to reconnect and send his packets again (He has a connection timeout).

 The server was stuck becau

[2015-11-19 15:32] guyboertje commented on #15
Timeout on push can be done with two threads and a SizedQueue of 1. The caller starts a timeout thread and a worker thread both with access to the SizedQueueOfOne and then waits on the SizedQueueOfOne. The worker thread pushes the event (maybe waits for access) and when done puts something in the SizedQueueOfOne. The timeout thread sleeps for Timeout and then puts something in the SizedQueueOfOne.

[2015-11-19 15:38] ph commented on #15
@guyboertje I would like to sync on that, not sure I understand all your description.

[2015-11-19 17:31] guyboertje commented on #15
@ppf2 - What do you consider a 'real-time' minimum setting to be?

[2015-11-19 17:33] guyboertje opened #16 "Allow IdentityMapCodec to receive the eviction flush block during construction."

[2015-11-19 23:20] #16 closed, assigned to nobody

[2015-11-20 06:23] ppf2 commented on #15
@guyboertje I guess it depends on the performance implications of the flush :)  If its pretty lightweight, we can probably set the limit to something that is no more frequent than 1s or 5s, etc..

[2015-11-25 11:11] guyboertje commented on #14
@Ken-Richard - This is exactly how this codec works. It takes the matching set of subsequent lines and concatenates them to the message from the first line and creates one Event from that message.  Without this codec you would get an Event for each line.
https://www.elastic.co/guide/en/logstash/current/plugins-codecs-multiline.html
Unfortunately, there is a bug in the doc - it does not mention tha

[2015-11-30 14:27] Ken-Richard commented on #14
Thanks for taking a look. The extra newlines are being randomly inserted into content fields, in addition to the separator for merged lines.

Can you take a look at the script in the GIST? I think that shows the problem recreated in the simplest format.

SAMPLE INPUT:
X7LXBQIYE63DEJCOQHUM

SAMPLE OUTPUT:
X7LXB\nQIYE63DEJCOQHUM

[2015-11-30 23:51] guyboertje commented on #14
@Ken-Richard - I will give it to you, it is a very subtle bug and in the stdin input.  The clue is in this line from the stdin input: `data = $stdin.sysread(16384)`. Your Gist is filling the stdin input, then piping that to LS. Each iteration of the ruby code adds 129 characters. After 129 iterations it has written more than 16384 characters.  When the stdin input reads 16384 characters and hands

[2015-11-30 23:53] guyboertje commented on #14
@Ken-Richard - please open an issue on the stdin input repo and refer to this one then close this one.

[2015-12-02 12:00] Ken-Richard commented on #14
Thanks! Before I do that can you answer a question about the code? I am not familiar with the mechanics and protocols of logstash plugins.

It looks like incoming data is added to the @buffer and then sent to logstash with the call:

[code]

If the data comes in two chunks (based on stdin reading blocks instead of lines) then it appears that two entries for the line would be added to @buffer, and

[2015-12-02 12:50] swachter commented on #14
Hi,

I think I experience the same problem: under heavy load multiple log message are sent in a single TCP package over the wire. The messages are separated by 0xa characters. If a message does not fit into the package it is continued in the next package. After the multiline codec has processed the input, a '\n' character is inserted at the position where the log message was cut.

A workaround see

[2015-12-02 13:01] guyboertje commented on #14
@Ken-Richard - this codec must operate with other inputs. So changing this codec is not the direction to take. It is the **combination** of stdin input and this codec that is misbehaving.  For example, the combination of this codec and the file input does not exhibit the fault you have found.  Reason: the file input gets line oriented data from the `filewatch` library, so if this codec receives a

[2015-12-02 13:01] #14 closed, assigned to nobody

[2015-12-09 12:32] TurboPunk commented on #14
This codec is not only misbehaving with stdin input, I have additional newlines while using tcp input.
Does tcp input also need to be made line oriented?

[2015-12-09 17:05] guyboertje commented on #11
@ph and I have found a way to realise auto-flush without a significant refactor of the pipeline <-> input interactions. This way will be a stepping stone to the refactor. This affects all inputs that might need multiline and the multiline codec and the filewatch library.  There is a PR for the first step [here](https://github.com/jordansissel/ruby-filewatch/pull/71) with more PR to follow.

[2015-12-09 17:34] guyboertje commented on #14
@TurboPunk - yes. Please create an issue on the tcp-input.

[2015-12-21 17:39] #11 closed, assigned to guyboertje

[2015-12-21 17:51] guyboertje commented on #15
Fixed in #18

[2015-12-21 17:51] #15 closed, assigned to guyboertje

[2015-12-21 17:52] guyboertje commented on #12
@suyograo - did you mean to add this to the ML **codec**

[2016-01-11 20:20] ppf2 opened #20 "Document interval unit for auto flush interval"
We added auto_flush_interval but did not specify what time unit the configuration parameter expects.

https://github.com/logstash-plugins/logstash-codec-multiline/blob/47640894c72f028b172a6b35b9783b5e80ce38ab/lib/logstash/codecs/multiline.rb#L130

Based on the executor method (http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/ScheduledTask.html#execute-class_method) we are calling from

[2016-01-12 09:05] guyboertje commented on #20
Yes, it is seconds. Will document.

[2016-01-21 02:14] ppf2 opened #22 "Skip pattern for single line entries that are mixed in with multiline"
Say you have a log file that has mixed multiline logs and single line logs.  Here is an example of one where there there are multiline logs (app java stack exception) and singleline logs (access log) mixed in the same log file.

[code]

If you use a multiline pattern to match for the multiline, it will correctly emit the multiline events, but will skip the single line entries entirely.

One workar

[2016-01-21 18:24] guyboertje opened #23 "Auto-flush thread deadlock when using multiple file inputs with this codec."
If two threads call ScheduledTask#reset method at about the same time both threads are deadlocked.
We need to use ScheduledTask#cancel and ScheduledTask.execute instead.

[2016-01-26 16:24] #20 closed, assigned to guyboertje

[2016-01-26 16:24] #23 closed, assigned to guyboertje

[2016-01-28 04:57] colinsurprenant opened #25 "identity map limit of 20k"
# What is the reasoning for hard coding the identity map limit to 20k items? isn't it possible to get to 20k identities within the cleanup timeout interval of 5 minutes? what if we process a directory which contains 20k+ files?

with the upcoming fixes to filewatch related to open files leak, will that also affect the identity map? will the new corrected file closing mechanism also evict identitie

[2016-01-29 11:23] guyboertje commented on #25
ATM, the gazillion file read use case is not supported in the code, so I guess I and the PR reviewers felt that 20000 tailed identities per input was enough.

In fact v2.1.2 of the file input shipped with LS 2.1.1 supports this already and close_older defaults to 1 hour, i.e. close-able if the file's mtime (for this version) is more that one hour ago.

But yes the changes introduced in the file in

[2016-02-08 18:28] gmoskovicz opened #28 "Memory Leak issue"
I am using a simple configuration:

[code]

And generating random lines of logs using a simple command line that writes new lines to a log inside `logs` folder.

The memory consumption is going up and up with no stop, and looks like the GC is not being able to collect much garbage:

<img width="422" alt="screen shot 2016-02-08 at 15 07 46" src="https://cloud.githubusercontent.com/assets/1675411/12

[2016-02-08 18:49] gmoskovicz commented on #28
Same test without the `auto_flush_interval` is showing better results:

<img width="393" alt="screen shot 2016-02-08 at 15 49 42 1" src="https://cloud.githubusercontent.com/assets/1675411/12895504/977299e4-ce7b-11e5-8880-783d51019e6d.png">

[2016-02-10 11:58] guyboertje commented on #28
I can confirm that a library we use `concurrent_ruby` is not fully removing cancelled timer tasks.

I am working on two solutions for two different scenarios.
- when ML is used without identity mapping, e.g. stdin input. I have a solution for this that uses one timer.
- when ML is used with identity mapping, .e.g. file input. Here we can't have a timer per codec as each file path (identity) seen c

[2016-02-11 16:31] ph commented on #28
I can confirm that #29 PR fixes this issue, I used @gmoskovicz configuration and a script that generate log line. I ran the scripts for 2 hours and monitored the memory usager. GC was correctly behaving with no leak.

[2016-02-11 17:02] gmoskovicz commented on #28
Thanks for taking care of this @ph @guyboertje

[2016-02-11 19:19] #28 closed, assigned to nobody

[2016-02-11 19:47] guyboertje opened #30 "Rare timing problem timeout is nil when testing timeout against time now during periodic eviction"
[code]

[2016-02-12 08:24] guyboertje commented on #30
Closed with #31

[2016-02-12 08:24] #30 closed, assigned to nobody

[2016-02-12 11:13] guyboertje commented on #3
The OP problem is fixed with the inclusion of `auto flush` (v2.0.9). Or possibly `close_older` if using the file input. (v2.2.1)

I am including an explanation for readers from the future.

When trying to match multiline records that have a distinct begin and end pattern its better to negate match on the begin pattern as the OP has done. For the XML in the OP gist:

[code]

[code]

If there is one

[2016-02-12 11:17] #3 closed, assigned to nobody

[2016-02-12 19:13] guyboertje commented on #2
I was thinking that we need to introduce a simple state machine that have two states pass-thru and accumulating.  When the BEGIN pattern is seen it moves to the accumulating state and when the END pattern is seen, it moves to the pass-thru state. So a transition of `{any} -> pass_thru` will generate an event from the buffer.
Any regular lines will change the state from pass_thru to pass_thru - a `

[2016-02-13 08:43] #9 closed, assigned to nobody

[2016-02-13 08:51] guyboertje commented on #12
This codec has always checked for buffer size > 1 before adding the tag.

[2016-02-13 08:51] #12 closed, assigned to nobody

[2016-02-13 11:05] guyboertje commented on #22
@ppf2 - so I guess what you are saying is:

In any one identity based stream of lines there exists identifiable sub-streams within.

Clarification:
ATM, the file input will map a codec instance to a path (identity). With a sub-stream pattern, from your example, "\s[.+]\s\s" that can be applied to each line to extract a sub-stream identity so different buffers/logic can be used for each sub-stream.

[2016-03-01 19:04] ghost opened #32 "Logstash Crashing, v. 2.1.3, undefined method `map_cleanup' for nil:NilClass"
NoMethodError: undefined method `map_cleanup' for nil:NilClass start at /opt/logstash/vendor/bundle/jruby/1.9/gems/logstash-codec-multiline-2.0.9/lib/logstash/codecs/identity_map_codec.rb:55

I diffed my current version with the following library hosted on github, seems up to date.

[2016-04-06 08:39] Teudimundo commented on #10
@suyograo I don't understand how it was fixed. In my case I have a gelf input (getting logs from docker containers) on which I would like to apply the multiline codec where my ideal stream identity would be the container id. Is it possible to have a proper identity mapping in this case?

[2016-04-06 09:27] guyboertje commented on #2
This will be supported in 5.0.0 by the use of Event Mills. At that time the Multiline codec will be redundant.

[2016-04-06 09:28] guyboertje commented on #2
Closing, this will not be implemented in this plugin.

[2016-04-06 09:28] #2 closed, assigned to guyboertje

[2016-04-06 12:57] ph commented on #10
@Teudimundo The input need to be to be fixed to add support for stream identity, the identity is just more information for disambiguation but each plugin need to implement it.

I see you have created https://github.com/logstash-plugins/logstash-input-gelf/issues/37 so we can continue the discussion there.

[2016-04-07 05:50] baneshbanna commented on #32
how to fix above fix

[2016-04-07 05:51] baneshbanna commented on #32
how to fix

[2016-04-07 05:53] baneshbanna commented on #32
how to fix

[2016-04-07 05:54] baneshbanna commented on #32
how to fix

[2016-04-13 13:39] magicdude4eva commented on #32
Same issue - installed via repo on centos:

[code]

[2016-04-27 13:12] coder-hugo commented on #32
Same here. For some reason the `@listener` in https://github.com/logstash-plugins/logstash-codec-multiline/blob/master/lib/logstash/codecs/identity_map_codec.rb#L55 is nil. This should just happen within the stop method. But in this case `@running` should be false and the code `@listener.send(@method_symbol)` shouldn't be reached. As a workaround we patched the file with an nil check before perfor

[2016-04-27 14:18] ph commented on #32
@coder-hugo you are right, this shouldn't happen, but you are using this codec with what input?

[2016-04-27 14:41] coder-hugo commented on #32
@ph we are using the file input which uses the `IdentityMapCodec` in line 230.

[2016-04-27 15:16] guyboertje commented on #32
This would appear to be a race condition during shutdown. I think the nil check is a reasonable solution.

Will implement.

[2016-05-03 14:31] johnarnold commented on #22
More specific (sub) stream identity patterns (similar to the multiline filter) definitely is useful for me.

[2016-05-13 07:00] myunxi opened #35 "Logstash Crashing, v. 2.1.0, NoMethodError: undefined method `<=' for nil:NilClass"
NoMethodError: undefined method `<=' for nil:NilClass
  map_cleanup at /LAPPOMS/usr/ppap_oms/logstash/logstash-2.1.0/vendor/bundle/jruby/1.9/gems/logstash-codec-multiline-2.0.4/lib/logstash/codecs/identity_map_codec.rb:193
    delete_if at org/jruby/RubyHash.java:1642
  map_cleanup at /LAPPOMS/usr/ppap_oms/logstash/logstash-2.1.0/vendor/bundle/jruby/1.9/gems/logstash-codec-multiline-2.0.4/lib/logs

[2016-05-31 06:38] myunxi commented on #35
I use the cpulimit to limit the cpu usage,The cpulimit use SIGCONT and SIGSTOP to limit cpu.If I do not  use cpulimt,the problem never happened.

[2016-06-14 15:52] retoo opened #37 "stdin/multiline-code adds random newlines"
Sometimes the multiline codec adds random newlines although the are new newlines in the input file

[2016-07-01 09:56] robin13 commented on #37
+1
This is rather critical because it breaks grok patterns.

[2016-07-13 09:28] elwesingollo commented on #32
Hi @coder-hugo what is the exact solution applied?

[2016-07-13 10:45] coder-hugo commented on #32
@elwesingollo We patched the file as follows:

[code]

[2016-07-27 15:39] retoo commented on #37
I'll changed the stdin plugin itself:
https://github.com/logstash-plugins/logstash-input-stdin/pull/11

solves the issue for me for now.

[2016-08-08 08:59] robin13 commented on #25
Could MAX_IDENTITIES be made configurable so that it can be increased if necessary?

[2016-08-22 21:19] ppf2 opened #41 "@buffer_bytes >= @max_bytes"
Just a minor issue.

https://github.com/logstash-plugins/logstash-codec-multiline/blob/master/lib/logstash/codecs/multiline.rb#L270

@buffer_bytes > @max_bytes

instead of

@buffer_bytes >= @max_bytes ?

[2016-10-11 22:48] chaturvedia commented on #32
I ran into this issue on ES 2.3.4. Which release is this expected to be fixed? At the time this happened there  is no log entry that logstash was processing so puzzled at what is the root cause

[2016-10-12 15:25] espressobeanies commented on #32
I can confirm this issue is still present in the latest ES v2.4.1.

NoMethodError: undefined method `map_cleanup' for nil:NilClass
  start at /opt/logstash/vendor/bundle/jruby/1.9/gems/logstash-codec-multiline-2.0.11/lib/logstash/codecs/identity_map_codec.rb:55

"current_call"=>"[...]/vendor/bundle/jruby/1.9/gems/logstash-core-2.3.4-java/lib/logstash/output_delegator.rb:128:in `pop'"}]}>, :level=>

[2016-11-03 22:05] idubinskiy commented on #32
@coder-hugo Have you tried submitting that fix as a pull request?

We're seeing this exact issue, too. Wondering if that fix worked for anyone else.

[2016-11-07 09:45] guyboertje commented on #32
@idubinskiy - Are you seeing this issue at shutdown only or while general running of Logstash?

[2016-11-07 11:59] jsvd opened #46 "intermittent failing spec"
[code]

[2016-11-07 23:25] gengwg commented on #32
Confirmed this issue exits in logstash 2.4.0.

That patch seems work so far, but not totally sure, since it only occurs on some of our nodes, not all of them.

Let us know when this is fixed, so that we can upgrade our Logstash.

[2016-11-08 10:41] guyboertje commented on #32
@gengwg - Are you seeing this issue at shutdown only or while general running of Logstash?

[2016-11-08 19:10] gengwg commented on #32
@guyboertje It's seen after issuing restart of logstash, so I guess it's shutdown.

[2016-11-09 09:39] guyboertje commented on #32
@gengwg - Got it, thanks.

[2016-11-28 15:10] nellicus opened #47 "LS 2.1.0 Multiline codec does not make use of auto_flush_interval"
using Logstash 2.1.0, the multiline codec does not seem to apply `auto_flush_interval` setting.

logstash-codec-multiline is updated to version 2.0.11 as per https://github.com/elastic/logstash/issues/6306

[code]

[2016-11-28 19:21] jordansissel commented on #47
Does this problem occur with newer Logstash versions (2.4? 5.0?)

[2016-11-29 08:17] nellicus commented on #47
as per the test above, no,it doesn't happen with 5.0

[2016-11-30 22:37] jordansissel commented on #47
If it doesn't happen on newer releases, I'm not sure if there is any action to take here. Can you advise?

[2016-12-02 09:18] nellicus commented on #47
@jordansissel since 2.1.0 is a supported version && it appears there is something wrong in this scenario I have filed this.

said the above I'll see if I can convince this user to upgrade rather than staying on 2.1.0.

[2016-12-06 10:58] PadaKwaak commented on #46
@jsvd : I also consistently get that very same error when running `bundle exec rspec --seed 3175`.

I've also stumbled upon another failure when using `bundle exec rspec --seed 58183` (from my topic: #48):

[code]

[2016-12-07 16:25] acchen97 opened #49 "Document stream identity behavior"
The multiline codec supports stream identity for at least the Beats and File inputs. We should at least document at a high level that this feature is available for discovery and what the characteristics are i.e. how are the separate streams defined.

[2017-01-28 08:24] cdahlqvist opened #50 "Change the auto_flush_interval parameter to have a default value"
A quite common issue when using the multiline codec plugin is that the last event never gets released, which can be fixed by setting the auto_flush_interval parameter. I think this parameter should be changed to have a default value as this is the most common desired behaviour. If this is not possible as it may make it hard to unset it, it would be good if it was called out explicitly in the docum

[2017-03-01 02:16] ryandonahue commented on #32
Any progress on this?

[2017-03-06 13:12] razik29 commented on #3
Hi All,

I am using Logstash 5.2, and facing the same problem. The last line of the xml file never gets read hence producing the xml parsing error when using xml filter plugin. I did not understand from the previous comment if this problem is fixed or not.

Input XML file:
[code]
Logstash conf:

[code]

I have a couple of questions,
1. Could you please let me know, if reading an XML file (proper f

[2017-03-11 16:02] guyboertje commented on #3
This is not a bug in the multiline codec but it seems to be - the file input has buffered the last piece of text while waiting for the newline so the multiline codec never receives it.

Please use filebeat to solve this. See the close_eof option. https://www.elastic.co/guide/en/beats/filebeat/current/index.html

You can still use the xml filter to decode the XML.

[2017-03-30 18:09] ppf2 opened #51 "Doc still provides an example of using the multiline filter"
Documentation still provides an example of using the multiline filter:

https://www.elastic.co/guide/en/logstash/current/plugins-codecs-multiline.html

![image](https://cloud.githubusercontent.com/assets/7216393/24519199/42a6fbb6-1539-11e7-99ce-191f2d2541fb.png)

[2017-04-06 03:09] ragingCow commented on #3
Hi，guyboertje,  I am facing the same problem as razik29, here is my configure:

[code]
Reading data from Kafka or stdin，either the last log will be missing. Event I append a new blank line after the last log.
It seems auto_flush_interval does not work.

In product env,  logstash will get data from kafka, how can I solve this problem?

My Logstash version is 5.2.2

[2017-04-06 08:17] guyboertje commented on #3
@ragingCow
Please note that the multiline codec should only be used for inputs that supply data that is line orientated. The kafka input build events directly from the JSON received so the multiline **codec** does not work for the kafka input.

[2017-04-06 09:30] ragingCow commented on #3
@guyboertje Get it and thanks

[2017-05-01 18:25] addykim commented on #51
As of now it seems that this has been fixed sometime before commit https://github.com/logstash-plugins/logstash-codec-multiline/commit/65345f8d16851a0127bcfd5ef28369ce01350cdf but the changes are not reflected in production.

[code]

[2017-05-26 20:17] ph opened #53 "build failling all jobs"
https://travis-ci.org/logstash-plugins/logstash-codec-multiline/jobs/236449382

[code]

[2017-06-01 09:27] #53 closed, assigned to ph

[2017-06-01 14:40] guyboertje commented on #35
Duplicate of #32

[2017-06-01 14:40] #35 closed, assigned to nobody

[2017-06-29 02:43] simjaemun2 commented on #32
hello, I've got below error message, logstash ver. 5.4.0

[2017-06-29 22:39] cwurm commented on #37
This continues to be a problem. It's caused by `multiline` not buffering incoming data and matching the pattern against partially received lines (e.g. the `stdin` input will send data in chunks of 16384 bytes: https://github.com/logstash-plugins/logstash-input-stdin/blob/master/lib/logstash/inputs/stdin.rb#L17).

Unfortunately, implementing a buffer (as has been suggested: https://github.com/logst

[2017-06-30 21:26] cwurm opened #57 "Multiline received as last input will be dropped"
When sending data that includes a multiline at the very end, the multiline will be dropped by this codec.

For example, this affects every file being read with the `stdin` or `file` inputs (see below for mitigation when using `file`).

## Example

stacktrace.log:
[code]

logstash.javastacktrace.conf:
[code]

Output:
[code]

## Why?
The codec will buffer lines matching a multiline pattern, but not

[2017-07-17 14:05] brandondash commented on #32
Searches are telling me this has been a problem since at least March 2016. I can confirm it just happened to me this morning with Logstash 5.x. Is there anything we in the community can do to help move this along?

[2017-07-19 13:41] djromy2006 commented on #32
@coder-hugo can you describe the step to run the patch?
Thanks

[2017-07-26 13:39] coder-hugo commented on #32
@djromy2006 you just have to apply the patch of my comment to the `identity_map_codec.rb` file of your logstash installation.
`

[2017-07-27 12:57] djromy2006 commented on #32
I got it thank you!
I will apply it and see how it works for me.
Thanks!

[2017-11-09 16:07] PhaedrusTheGreek commented on #57
I'm hitting this issue too, using the `multiline` codec on the `stdin` input, my final log entry is lost.

[2017-12-25 07:50] original-brownbear opened #58 "Concurrency Error in Call to `do_previous`"
We got a report of this:

[code]

It seems like this is coming from the (as far as I can see) asynchronous `flush` functionality somehow accessing the `@buffer` field from 2 threads (I verified that the udp input does correctly `clone` the codec, so it must be coming from the codec itself here).
Maybe related to the random failures here #46

[2017-12-28 18:01] akatakatoo commented on #58
This is impacting our production environment, causing periodic data loss from our application error logs (nothing critical yet), and could also impact our SQL activity data stream collection (also using UDP input) and our compliance status.

We're presently being alerted when data stops being ingested for that index pattern, and restarting Logstash - not a solution - and will be considering altern

[2017-12-29 04:38] original-brownbear commented on #58
@jordansissel @andrewvc fyi (in case you want to schedule this in some form :))

[2017-12-29 20:50] andrewvc commented on #58
Yes, we should fix this bug, would you have the spare cycles to tackle this next week @original-brownbear ?

[2017-12-30 17:50] original-brownbear commented on #58
@andrewvc sure thing, top of the pile then :)

[2018-01-02 18:32] jkelastic commented on #58
@original-brownbear Happy New Year! I just want to follow up on this bug. Have we started tackling this? Restarting Logstash has become a bit of an annoyance .

[2018-01-04 13:25] original-brownbear commented on #58
@andrewvc https://github.com/logstash-plugins/logstash-codec-multiline/pull/60 should do it I hope :)

[2018-01-04 13:25] original-brownbear commented on #58
@jkelastic ^^ I think I got this fixed in the above :)

[2018-01-09 19:08] jkelastic commented on #58
@original-brownbear thanks, I don't see a version label. I'm guessing it is fixed in ES 5.6 and above.

[2018-01-09 22:12] original-brownbear commented on #58
@jkelastic sorry still waiting for review there, will push on this tomorrow :)

[2018-01-09 22:39] jkelastic commented on #58
@original-brownbear no problem, thanks for update : )

[2018-01-10 19:33] akatakatoo commented on #58
Likely not the same underlying problem, but the behavior is the same - single port (UDP, multiline) stops accepting data, if using persisted queue, queue must be deleted before data will be processed again on that port.  Can reproduce on-demand if needed, and just appended issue to existing Elastic ticket opened with @jkelastic (if different issue will open new ticket\bug).

(top portion of stack

[2018-01-30 17:21] jkelastic commented on #58
@original-brownbear @akatakatoo  Here are the test results. There is good and bad news. The good news is the error and problems don't seem to affect LS 6.0  we aren't ready to upgrade to ES 6.0 with SSL.

In ES 5.5 , here are the problems the we're having.

 After  #1 error below happens, then a logstash restart it will start throwing different errors, see error #2 below

ERROR #1
[code]

Attached

[2018-02-06 17:33] andrewvc commented on #58
@jkelastic I think this is an unrelated PQ bug, I've opened a new issue for it here: https://github.com/elastic/logstash/issues/9104

[2018-02-06 17:40] colinsurprenant commented on #58
@jkelastic Could you please provide complete environment information in elastic/logstash#9104  Exact LS version and OS version?

[2018-03-08 17:27] jkelastic commented on #58
@colinsurprenant

The error below just happened last night on one of our production Logstash servers and stopped accepting traffic on one UDP port - only restarting Logstash allowed it to recover (logstash 5.6.5).

Version:

logstash 5.6.5

jruby 1.7.27 (1.9.3p551) 2017-05-11 8cdb01a on Java HotSpot(TM) 64-Bit Server VM 1.8.0_131-b11 +jit [Windows Server 2012 R2-amd64]

java 1.8.0_131 (Oracle Corp

[2018-03-08 18:54] colinsurprenant commented on #58
@jkelastic you are reporting using the v3.0.9 of the multiline codec which should have fixed this issue but your logs tells differently:
[code]

It seems you are in fact running v3.0.5. Can you upgrade and reassess?

[2018-03-09 02:21] akatakatoo commented on #58
Happened again after the multiline upgrade - folder shows 3.0.5 but update does nothing (as though it is running the latest, 3.0.9):

[2018-03-08T17:46:39,649][ERROR][logstash.inputs.udp      ] Exception in inputworker {"exception"=>#<ConcurrencyError: Detected invalid array contents due to unsynchronized modifications with concurrent users>, "backtrace"=>["org/jruby/RubyArray.java:1147:in `<<'",

[2018-03-09 05:16] colinsurprenant commented on #58
@akatakatoo can you try uninstalling and re-installing `logstash-codec-multiline` to see if it will get it to v3.0.9?

[2018-03-10 22:28] akatakatoo commented on #58
Just removed and installed it (with logstash stopped) and although it indicated it could not remove it as it had dependencies, the correct version of files appear to be in place.  Now to wait and see if it happens again.  Thanks.

E:\elkbinaries\logstash\bin>logstash-plugin remove  logstash-codec-multiline
Failed to remove "logstash-codec-multiline" because the following plugins or libraries depen

[2018-03-19 19:58] colinsurprenant commented on #58
@akatakatoo did that solve your problem?

[2018-03-21 15:47] akatakatoo commented on #58
The problem has not occurred since the 3.0.9 update, which is a great start.  There can be weeks or months between the error occurrences, so I'll continue to monitor for a bit.  Thanks.

[2018-03-21 16:07] colinsurprenant commented on #58
@akatakatoo thanks for the followup. I will go ahead and close this issue. Please feel free to re-open if you think it is still not solved at some point.

[2018-03-21 16:07] #58 closed, assigned to original-brownbear

[2018-03-26 17:52] PhaedrusTheGreek commented on #37
https://github.com/logstash-plugins/logstash-input-stdin/issues/16 seems like the same thing, tracked in the stdin input repo

[2018-04-29 09:06] akshay8856 commented on #57
I am hitting same issue too +1 when multiline codec with stdin input is used.

[2018-05-09 00:10] boblatino commented on #37
I am having the same issue using the TCP input plugin. I get random lines that are cut by a rogue \n that causes a false positive in the multiline codec (it adds the multiline tag and truncates the line). Is there any known issue with TCP?

[2018-06-20 15:41] droberts195 commented on #37
@pheyos and I ran into this while using the stdin input as a simple way to test logstash configs.

It seems like it's been a known issue for years that the stdin input doesn't work with the multiline codec, but if you look at the [documentation](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-stdin.html#_description_38) it says:

If nothing is going to be done about the underlying

[2018-06-29 14:55] #32 closed, assigned to guyboertje

[2018-07-04 06:03] mughazi commented on #57
I just ran into this issue using `multiline` codec on the `file` input. Same exact thing.

[2018-09-11 16:23] edperry commented on #37
I just ran in to this issue streaming JSON from Lambda too Logstash Input TCP, I am getting random \n in the data which looking at the TCPDUMPS do not exist.

At minimum the data should have a tag with _multilineerror or something if it is injecting data when it has problems.

[2018-09-11 17:04] edperry commented on #37
Also adding the max_bytes and max_lines has no effect either.  If there is no easy solution to buffering the data. How about making READ_SIZE a tunable variable, this is very annoying

[2018-09-27 13:52] colinsurprenant commented on #37
This problem will occur with any other "streaming" codecs like udp, tcp.  There is a larger issue of ambiguity between line-oriented & streaming inputs with codecs in our architecture that we are trying to correctly solve. In the mean time I have rebooted the work to fix this here until we have a globally better solution, see #63 - please let me know if you think this seems like a good solution.

[2018-09-27 15:09] retoo commented on #37
(.. sorry wrong issue)

[2018-10-19 01:36] fewknow opened #64 "Multiline codec pattern not working for gelf input"
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

For all general issues, please provide the following details for fast resolution:

- Version: logstash 6.4.2
- Operating System:
[code]
- Config File :
[code]
-

[2018-11-19 17:47] colinsurprenant commented on #64
@fewknow Thanks for your feedback.

Please note that the gelf does not make use of codecs. In fact, the GELF format is serialized in JSON so the gelf input simply deserialize the received JSON data - there is not point in supporting codecs for that input.

Could you please share more details about what exactly you are trying to achieve and which field is part of a multi lines output that you are t

[2019-03-22 18:14] fewknow commented on #64
@colinsurprenant I am trying to consolidate java logs coming from my docker containers.   This is in aws on an ECS cluster.  There is no support for log4j currently, but there is GELF support on ECS tasks.   Currently I have this pumping logs to logstash and then to elasticsearch.

The issue I am facing is a single log for every line of the log over GELF.    Was hoping to help out my developers by

[2019-03-22 19:21] colinsurprenant commented on #64
I would suggest creating a feature request issue to explore the possibility of enabling codecs per your multi-line use-case but I don't see that happening in the short term unless the community pick it up.

Alternatively, since this is more a usage question I would also suggest to bring it up in the forums https://discuss.elastic.co/c/logstash where it might reach a wider audience.

[2019-05-02 23:29] hbrothman commented on #37
So, what is the latest on this issue? I am still getting this problem. I'm using Logstash version 6.7.0. Is there a workaround?

[2019-05-06 20:29] colinsurprenant commented on #37
@hbrothman the latest proposal for this is #63 - let me know if this solution would work for you.

[2019-05-07 15:18] hbrothman commented on #37
Sure, it looks fine with me. I assume it hasn't been implemented yet, and there is no current work-around. Any idea on how long it will take to be implemented? Thanks.

[2019-07-08 20:58] TheVastyDeep opened #65 "Not obvious that patterns_dir requires trailing /"
If you configure patterns_dir then the trailing / is required. If it is omitted then the code appends * to the directory name and silently ignores it.

[2020-02-26 19:38] yaauie opened #66 "Implement ECS-Compatibility Mode"
_This is a stub issue, and needs to be fleshed out with details specific to
this plugin._

***

As a part of the effort to make plugins able to run in an ECS-Compatible manner
by default in an upcoming release of Logstash, this plugin needs to either
implement an ECS-Compatibility mode or certify that it does not implicitly use
fields that conflict with ECS.

[2020-05-11 15:06] colinsurprenant commented on #57
#63 should eventually fix this.

[2021-06-17 05:33] kares opened #68 "plugin can block on close due threading issue"
Quick and dirty reproducer on trying to close the `identity_map_codec` (with running cleaner thread):
[code]

more real-world details at: https://github.com/logstash-plugins/logstash-input-file/issues/298

[2021-06-23 11:31] #68 closed, assigned to nobody

[2021-07-17 08:10] hungnguyenmanh82 commented on #14
this issue has been not fix for 6 years. logstash version 7.13.1, Tcp-input with Codec Multiline plugin => it allways insert random newline "\r\n" to some text line. I took me log to find out that.

[2021-07-20 10:53] kares commented on #66
resolved in https://github.com/logstash-plugins/logstash-codec-multiline/pull/69

[2021-07-26 16:03] #66 closed, assigned to kares

[2022-02-26 18:41] squalou commented on #64
hi @fewknow ,
by chance would you have found a way to solve your issue ?
I'm facing the exact same situation.

Since "multiline" is not available as a filter, I wondered maybe if "aggregate" filter would be of any help ... didn't try ye though.

[2022-03-06 16:28] squalou commented on #64
(for the records, I switched from geld to firelens / fluentbit to solve this)

[2022-04-07 17:34] thales-hawk opened #71 "Infinite loop when pipeline stopping"
**Logstash information**:

1. Logstash version: **Tested in 7.16, 7.17 and 8.1**
2. Logstash installation source: **From tar gz**
3. How is Logstash being run: **Command line**
4. How was the Logstash Plugin installed: **Installed by default in the tar package**

**JVM** (e.g. `java -version`): **Packaged version**

**OS version** (`uname -a` if on a Unix-like system): **5.13.0-39-generic #44~20.0

[2022-04-08 11:43] thales-hawk commented on #71
I found a way to reproduce and fix the issue !

The problem is a concurrent access to the running boolean in the PeriodicRunner. When we stop the PeriodicRunner the boolean change to false but if a new log is going through the codec, the PeriodicRunner is started again.

**Steps to reproduce:**

Change the ``stop`` method like this:

[code]

**How to fix this ?**

Just add a stopped attribute to t

[2022-07-04 01:56] fly0512 commented on #14
I ran into the same problem with the Logstash version 6.6.0, where random positions were occasionally added with \n symbols when using TCP inputs